<!--Form of the contact me page-->
<div class="panel-body"><b>For any inquiries please fill out this form.</b>

        <form >
                    <div >
                        <label for= "name">First Name: </label>
                        <input type="text" required class="form-control form-control-sm" placeholder="First Name">
                    </div>

                    <div >
                        <label for="lastname">Last Name: </label>
                        <input type="text" required class='form-control form-control-sm' placeholder="Last Name">
                    </div>

                    <div >
                        <label for="email">Email:</label>
                        <input type="email" required class="form-control form-control-sm"  placeholder="***@***.com" >
                    </div>

                    <div >
                        <label for="phone">Phone Number:</label>
                        <input type="email"  required class="form-control form-control-sm" placeholder="(123)-456-7890" >
                    </div>
                    <br>

                    <div >
                        <input type="submit" value="Submit" >
                    </div>
                    <div >
                        <input type="reset" name="reset" value="Clear Form"  />
                    </div>

                  <br>
                  <br>   
                  <p>Alternativaly, you can message me directly using the following information:
                  <li>My email: rbararu@my.centennialcollege.ca</li>
                  <li>My phone number: (613) 255-7474</li>
                  </p> 

                  </div>
                  


         
          
        
</div>